.backface-hidden {
    backface-visibility: hidden;
  }
  .perspective-1000 {
    perspective: 1000px;
  }

  .rotate-y-180 {
    transform: rotateY(180deg); /* Rotates the element 180 degrees on Y-axis */
  }
