/* Room.css */
.room {
  position: relative;
  width: 600px;
  height: 600px;
  perspective: 100px;
  z-index: -1;
}

.face {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  width: 600px;
  height: 600px;
  transform: rotateX(90deg) translateZ(150px);
}

.bottom {
  width: 600px;
  height: 600px;
  transform: rotateX(-90deg) translateZ(150px);
}

.left {
  width: 1300px;
  height: 600px;
  transform: rotateY(-90deg) translateZ(930px);
}

.right {
  width: 1300px;
  height: 600px;
  transform: rotateY(90deg) translateZ(280px);
}

.matrix-rain {
  width: 100%;
  height: 100%;
}